# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [ ]:
tup = 4, 5, 6
tup

In [ ]:
list?

In [ ]:
import random
random?

In [ ]:
tuple([4, 0, 2])
tup = tuple('string')
tup

In [ ]:
tup[0]

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

In [ ]:
tup[1].append(3)
tup

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
('foo', 'bar') * 4

#### Unpacking tuples

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

tmp = a
a = b
b = tmp

In [ ]:
a, b = 1, 2
a
b
b, a = a, b
a
b

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

In [ ]:
a, b, *_ = values
_

#### Tuple methods

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

### List

In [ ]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

In [ ]:
b_list[1] = 'peekaboo'
b_list

In [ ]:
gen = range(10)
gen

In [ ]:
list(gen)

#### Adding and removing elements

In [ ]:
b_list.append('dwarf')
b_list

In [ ]:
b_list.insert(1, 'red')
b_list

In [ ]:
b_list.pop(2)
b_list

In [ ]:
b_list.append('foo')
b_list

In [ ]:
b_list.remove('foo')
b_list

In [ ]:
'dwarf' in b_list

In [ ]:
'dwarf' not in b_list

#### Concatenating and combining lists

In [ ]:
[4, None, 'foo'] + [7, 8, (2, 3)]

In [ ]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

everything = []
for chunk in list_of_lists:
    everything = everything + chunk

In [ ]:
list_of_lists = [[i, i**2] for i in range(10)]
list_of_lists

In [ ]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
everything

In [ ]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
everything

#### Sorting

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

In [ ]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

#### Binary search and maintaining a sorted list

In [ ]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
c

In [ ]:
bisect.bisect(c, 2)

In [ ]:
bisect.bisect(c, 5)

In [ ]:
c

In [ ]:
bisect.insort(c, 6)
c

#### Slicing

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [ ]:
seq[3:4] = [6, 3]
seq

In [ ]:
seq[:5]
seq[3:]

In [ ]:
seq[-4:]
seq[-6:-2]

In [ ]:
seq[::2]

In [ ]:
seq[::-1]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [ ]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

#### sorted

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])

In [ ]:
sorted('horse race')

#### zip

In [ ]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

In [ ]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
pitchers

In [ ]:
names = zip(('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt'))
list(names)

In [ ]:
names = zip(*pitchers)
list(names)

In [ ]:
first_names, last_names = zip(*pitchers)
first_names

In [ ]:
last_names

#### reversed

In [ ]:
list(reversed(range(10)))

In [ ]:
reversed(range(10))

In [ ]:
tuple(reversed(range(10)))

In [ ]:
sorted(range(10))

### dict

In [ ]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

In [ ]:
d1[7] = 'an integer'
d1
d1['b']
d1

In [ ]:
'a' in d1 #키로 검색

In [ ]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1

In [ ]:
del d1[5]
d1

In [ ]:
ret = d1.pop('dummy')
ret

In [ ]:
d1

In [ ]:
list(d1.keys())

In [ ]:
list(d1.values())

In [ ]:
d1.update({'b' : 'foo', 'c' : 12})
d1

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [ ]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

#### Default values

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

value = some_dict.get(key, default_value)

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

In [80]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
person = {'name': 'Phill', 'age': 22}

age = person.setdefault('age')
print('person = ',person)
print('Age = ',age)

In [ ]:
person = {'name': 'Phill', 'age': 22}
person.setdefault('job', 'student')
person

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [79]:
from collections import defaultdict

words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
    
dict(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
import collections
ex2 = collections.defaultdict(list, a=1, b=2)
ex2['a']

In [ ]:
ex2['c']

#### Valid dict key types

In [ ]:
hash('string')

In [ ]:
hash((1, 2, (2, 3)))

In [ ]:
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {} #빈 사전
d[tuple([1, 2, 3])] = 5
d

### set

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

### List, Set, and Dict Comprehensions

[

result = []
for val in collection:
    if

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
set(map(len, strings))

In [ ]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

#### Nested list comprehensions

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [ ]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
    
names_of_interest

In [ ]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

In [ ]:
[[x for x in range(i+1)] for i in range(5)]

## Functions

def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

### Namespaces, Scope, and Local Functions

def func():
    a = []
    for i in range(5):
        a.append(i)

In [ ]:
a = 5
def func():
    a = [] #지역 변수
    for i in range(5):
        a.append(i)

func()
a

a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i) #전역 변수

func()
a

In [ ]:
a = None
def bind_a_variable():
    global a #전역 변수
    a = []
    
bind_a_variable()
print(a)

### Returning Multiple Values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()
a

In [ ]:
return_value = f()
return_value

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

f()

### Functions Are Objects

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

In [ ]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
clean_strings(states, clean_ops)

In [ ]:
import re

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

for x in map(remove_punctuation, states):
    print(x)

### Anonymous (Lambda) Functions

def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))
strings

### Currying: Partial Argument Application

def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

from functools import partial
add_five = partial(add_numbers, 5)

In [ ]:
from functools import partial
from functools import partial

square = partial(power, exponent=2)
cube = partial(power, exponent=3)

def test_partials():
    assert square(2) == 4
    assert cube(2) == 8


출처: https://hamait.tistory.com/823 [HAMA 블로그]
def add_numbers(x, y):
    return x + y

add_five = partial(add_numbers, 5)
add_five(5)

In [ ]:
def power(base, exponent):
    return base ** exponent

from functools import partial

square = partial(power, exponent=2)
cube = partial(power, exponent=3)

cube(5)

### Generators

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

In [ ]:
def number_generator():
    yield 0
    yield 1
    yield 2
    
number_generator()

In [ ]:
list(number_generator())

In [ ]:
for i in number_generator():
    print(i)

In [ ]:
g = number_generator()

In [ ]:
g.__next__()

In [ ]:
next(g)

In [ ]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=' ')

#### Generator expresssions

In [ ]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [ ]:
def _make_gen():
    for x in range(100):
        yield x ** 2

gen = _make_gen()
gen

In [ ]:
sum(x ** 2 for x in range(100))

In [ ]:
dict((i, i **2) for i in range(5))

#### itertools module

In [3]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Adams', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam', 'Adams']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [4]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Adams', 'Wes', 'Will', 'Albert', 'Steven']
names.sort()
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Adam', 'Adams', 'Alan', 'Albert']
S ['Steven']
W ['Wes', 'Will']

In [ ]:
from itertools import combinations
list(combinations(range(5), 3))

In [ ]:
from itertools import permutations
pool = ['A', 'B', 'C']
list(permutations(pool))

In [ ]:
list(map(''.join, permutations(pool))) # 3개의 원소로 수열 만들기

In [ ]:
list(permutations(pool, 2))

In [ ]:
print(list(map(''.join, permutations(pool, 2)))) # 2개의 원소로 수열 만들기

In [ ]:
from itertools import groupby
import pprint

d = [('Europe','Manchester'),
     ('America','NewYork'),
     ('Asia','Seoul'),
     ('Asia','Tokyo'),
     ('America','Chicago'),
     ('America','Seattle'),
     ('Europe','London'),
     ('Asia','Beijing'),
     ('Europe','Paris'),
     ]

category = {}
for k, g in groupby(sorted(d), lambda x:x[0]):
    category[k] = list(g)

#pprint.pprint(category)
#print(category)
category

In [ ]:
d = [('Europe','Manchester'),
     ('America','NewYork'),
     ('Asia','Seoul'),
     ('Asia','Tokyo'),
     ('America','Chicago'),
     ('America','Seattle'),
     ('Europe','London'),
     ('Asia','Beijing'),
     ('Europe','Paris'),
     ]

category = {}
for k, g in groupby(sorted(d), lambda x:x[0]):
    listg =[x[1] for x in list(g)] 
    category[k] = listg

pprint.pprint ( category)

### Errors and Exception Handling

In [ ]:
float('1.2345')
float('something')

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float('1.2345')
attempt_float('something')

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

attempt_float((1, 2))

f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

#### Exceptions in IPython

In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

In [ ]:
%run examples/ipython_bug.py

## Files and the Operating System

In [15]:
!chcp 65001

Active code page: 65001

In [22]:
!dir

 Volume in drive D is DATADRIVE0
 Volume Serial Number is 0AEE-91E2

 Directory of D:\(0 2020 이공계 연수 저장소)\Data Analysis & Visualization\data code

2020-06-16  오후 05:41    <DIR>          .
2020-06-16  오후 05:41    <DIR>          ..
2020-06-16  오후 01:55    <DIR>          .ipynb_checkpoints
2020-06-14  오후 04:56            26,594 appa-study.ipynb
2020-05-30  오후 12:06            33,571 appa.ipynb
2020-06-16  오후 01:27            83,011 ch02-study.ipynb
2020-06-03  오후 03:54            31,341 ch02.ipynb
2020-06-16  오후 05:41            48,604 ch03-study.ipynb
2020-05-30  오후 12:06            46,733 ch03.ipynb
2020-06-05  오후 03:44           186,305 ch04-study.ipynb
2020-05-30  오후 12:06            35,253 ch04.ipynb
2020-06-06  오후 05:23            67,393 ch05-study.ipynb
2020-05-30  오후 12:06            40,706 ch05.ipynb
2020-05-30  오후 12:06            26,542 ch06.ipynb
2020-06-15  오후 06:26           175,557 ch07-study.ipynb
2020-05-30  오후 12:06            29,145 ch07.ipynb
2020-06-14  오후 04:05           367,841 ch08-study.ipynb
2020-05-30  오후 12:06            27,217 ch08.ipynb
2020-05-30  오후 12:06            25,195 ch09.ipynb
2020-06-11  오후 06:50            35,150 ch10-study.ipynb
2020-05-30  오후 12:06            28,332 ch10.ipynb
2020-05-30  오후 12:06            40,852 ch11.ipynb
2020-06-14  오후 04:04            68,684 ch12-study.ipynb
2020-05-30  오후 12:06            19,489 ch12.ipynb
2020-06-14  오후 04:40            47,342 ch13-study.ipynb
2020-05-30  오후 12:06            17,020 ch13.ipynb
2020-05-30  오후 12:06            46,194 ch14.ipynb
2020-06-15  오전 09:34    <DIR>          datasets
2020-06-12  오전 10:53    <DIR>          examples
2020-05-30  오전 11:34                22 hello.py
2020-06-05  오전 11:09             8,667 mynumpy1.ipynb
2020-06-06  오후 01:44           350,681 my_10_minutes_to_pandas.ipynb
2020-06-16  오전 09:05                95 some_module.py
2020-06-16  오전 09:06    <DIR>          __pycache__
              28 File(s)      1,913,536 bytes
               6 Dir(s)  1,902,721,339,392 bytes free

In [81]:
path = 'examples/segismundo.txt'
f = open(path)

for line in f:
    pass

In [82]:
for line in f:
    pass

In [83]:
lines = [x.rstrip() for x in open(path)]
lines

['Sue챰a el rico en su riqueza,',
 'que m찼s cuidados le ofrece;',
 '',
 'sue챰a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sue챰a el que a medrar empieza,',
 'sue챰a el que afana y pretende,',
 'sue챰a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusi처n,',
 'todos sue챰an lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [84]:
f.close()

In [85]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [86]:
f = open(path)
f.read(10)
f.tell()

11

In [87]:
f2 = open(path, 'rb')  # Binary mode
f2.read(10)
f2.tell()

10

In [37]:
import sys
sys.getdefaultencoding()

'utf-8'

In [38]:
f.seek(3)
f.read(1)

'챰'

In [39]:
f.close()
f2.close()

In [40]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [41]:
!dir tmp.txt

 Volume in drive D is DATADRIVE0
 Volume Serial Number is 0AEE-91E2

 Directory of D:\(0 2020 이공계 연수 저장소)\Data Analysis & Visualization\data code

2020-06-16  오후 05:51               302 tmp.txt
               1 File(s)            302 bytes
               0 Dir(s)  1,902,721,335,296 bytes free

In [42]:
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sue챰a el rico en su riqueza,\n',
 'que m찼s cuidados le ofrece;\n',
 'sue챰a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue챰a el que a medrar empieza,\n',
 'sue챰a el que afana y pretende,\n',
 'sue챰a el que agravia y ofende,\n',
 'y en el mundo, en conclusi처n,\n',
 'todos sue챰an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [44]:
import os
os.remove('tmp.txt')

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: 'tmp.txt'

In [45]:
!dir tmp.txt

 Volume in drive D is DATADRIVE0
 Volume Serial Number is 0AEE-91E2

 Directory of D:\(0 2020 이공계 연수 저장소)\Data Analysis & Visualization\data code

File Not Found

### Bytes and Unicode with Files

In [52]:
with open(path) as f:
    chars = f.read(10)
chars

'Sue챰a el r'

In [53]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [54]:
data.decode('utf8')

'Sueña el '

In [55]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [65]:
!dir sink.txt

 Volume in drive D is DATADRIVE0
 Volume Serial Number is 0AEE-91E2

 Directory of D:\(0 2020 이공계 연수 저장소)\Data Analysis & Visualization\data code

2020-06-16  오후 06:17                 0 sink.txt
               1 File(s)              0 bytes
               0 Dir(s)  1,902,721,331,200 bytes free

In [60]:
import sys
sys.getdefaultencoding()

'utf-8'

In [66]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

UnicodeEncodeError: 'latin-1' codec can't encode character '\ucc70' in position 3: ordinal not in range(256)

In [75]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'w', encoding='cp65001') as sink:
        sink.write(source.read())
with open(sink_path, encoding='cp65001') as f:
    print(f.read(10))

Sue챰a el r

In [76]:
os.remove(sink_path)

In [77]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

## Conclusion